{{#partial "content"}}
    <div class="container">
        <h1>Check again!</h1>
        <p>The page you just tried to access requires authentication. Log in and try again!</p>
    </div>
{{/partial}}

{{> partials/base}}