{{#partial "content"}}
    <div class="container">
        <h1>Woah, there...</h1>
        <p>Looks like you're trying to access something protected without permission. We're just going to start you right there.</p>
    </div>
{{/partial}}

{{> partials/base}}