{{#partial "content"}}
<div class="container">
    <h1>Hello, World</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur dignissimos dolorum error, esse est et, fugiat ipsa ipsum magnam minima necessitatibus nesciunt pariatur quibusdam reiciendis soluta totam veniam voluptatum?</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur dignissimos dolorum error, esse est et, fugiat ipsa ipsum magnam minima necessitatibus nesciunt pariatur quibusdam reiciendis soluta totam veniam voluptatum?</p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur dignissimos dolorum error, esse est et, fugiat ipsa ipsum magnam minima necessitatibus nesciunt pariatur quibusdam reiciendis soluta totam veniam voluptatum?</p>
</div>
{{/partial}}

{{> partials/base}}